version: "3.8"

services:
  ollama:
    image: ollama/ollama
    volumes:
      - ollama:/root/.ollama
      - ./ollama-entrypoint.sh:/ollama-entrypoint.sh
    entrypoint: ["/ollama-entrypoint.sh"]
    ports:
      - "11434:11434"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - ollama
    environment:
      - OLLAMA_API_ENDPOINT=http://ollama:11434
    restart: unless-stopped

volumes:
  ollama:

